*{box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  font-size:15px;
  background-color:#F4F4F4;
  display: inline-block;
}
img {
  width: 111%
}
nav {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  Padding-bottom: 15px;
}
.container {
  padding-left: 150px;
  padding-right:150px;
}
main{
  width:750px;
  margin: 0px;
  display:inline-block;



}
aside{
  width:32%;
  display: inline-block;
  float:right;

}
.main-section{
  padding:0px;
  margin-bottom: 50px;
  width: 700px;
}
.adveture {
  padding: 0px;
  margin-bottom: 50px;
  width: 740px;
}

}
ul.nav-left {
  width: 860px;
  padding: 0px;
  height: 15px

}
li.nav-left {
padding: 5px;
font-size: 10px
font-style: bold;
color: #444;
{

}
footer {
  width: 175px;
  height: 175px

}
ul.nav-right {
  display:block;
}
header.img {
  width: 20px;
  float: right;
}
aside img {
  width: 109%;
}
